<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>isucon sample</title>
        <link rel="shortcut icon" type="image/x-icon" href="https://placehold.jp/16x16.png">
    </head>
    <body>
        <div class="container grid grid-rows-3 grid-flow-col gap-3"">
            <% for (let item of items) { %>
                <div>
                  <p><%- item.name %></p>
                  <img src="<%- item.url %>" alt="<%- item.name %>">
                </div>
            <% } %>
        </div>
    </body>
</html>